@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 text-center">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Login", "User")'">
            Sign in
        </button>
    </div>
    <div class="col-3">

    </div>
</div>
