@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>
    Aplikacja ma na celu symualację dla użytkownika wystarczającej liczby produktów pokrywającej dzienne zapotrzebowanie kaloryczne koszt produktów. Aplikacja nie ma na celu przedstawiania przepisów kulinarnych.<br />
  
    Użytkownik ma możliwość wyboru ograniczeń i preferencji żywieniowych takich jak nie tolreancja laktozy, glutenu i produkty wege. <br />
    Aplikacja wyszuka konfigurację produktów spełniających zadane kryteria i przedstawi je użytkownikowi.

</p>
